venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
instance/
.env
config.py
Dockerfile
docker-compose.yml

node_modules/
npm-debug.log
yarn-error.log
vendor/
.env
Homestead.yaml
Homestead.json
Dockerfile
docker-compose.yml
public/hot
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/data
