.env
.env.*.php
.env.php
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
/nova/vendor
.idea
.vscode
_ide_helper.php
_ide_helper_models.php
composer.lock
npm-debug.log
yarn-error.log
yarn.lock
pnpm-lock.yaml
package-lock.json
.pnp/
.pnp.js
/public/hot
/public/storage
/public/js/*.js
/public/css/*.css
/public/mix-manifest.json
/public/build
Homestead.json
Homestead.yaml
.phpunit.result.cache
.php_cs.cache
/coverage/
*.log
*.sql
*.sqlite
.DS_Store
Thumbs.db
docker-compose.override.yml
__pycache__
__pycache__/
*__pycache__/
*.py[cod]
env/
venv/
ENV/
.venv/
uploads/
*.egg-info/
dist/
build/
*.swp
*.swo
*.idea/
*.vscode/
*.pydev/
.ipynb_checkpoints
*.log
.env